<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CommentHub Comments</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<!--https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/comment.css">

<script th:inline="javascript">
    /*<![CDATA[*/
    var endpoint = "https://commenthub.herokuapp.com";
    var issues = "https://api.github.com/repos/commenthub/commenthub/issues";
    $.ajax({
        dataType: "json",
        url: issues,
        headers: {
            "Accept": "application/vnd.github.squirrel-girl-preview, application/vnd.github.html+json"
        },
        data: {
            labels: [[${commenthub_website}]] + "," + [[${commenthub_identifier}]]
        },
        success: function (issues) {
            if (issues && issues.length != 0) {
                var comments_url = issues[0]['comments_url'];
                var comments_count = issues[0]['comments'];
                if (comments_count) {
                    $.ajax({
                        dataType: "json",
                        url: comments_url,
                        headers: {
                            "Accept": "application/vnd.github.squirrel-girl-preview, application/vnd.github.html+json"
                        },
                        data: {},
                        success: function (comments) {
                            if (comments) {
                                var comments_div = $("<div>", {"id": "comments"});
                                for (var i = 0; i < comments.length; i++) {
                                    comments_div.append(generate_comment(comments[i])).append($("<hr>"));
                                }
                                var comments_count_span = $("<span>").html(comments_count + " comments  ");
                                var plus_span = issues[0]["reactions"]["+1"] ? $("<span>").html("  👍 " + issues[0]["reactions"]["+1"]) : "";
                                var minus_span = issues[0]["reactions"]["-1"] ? $("<span>").html("  👎 " + issues[0]["reactions"]["-1"]) : "";
                                var heart_span = issues[0]["reactions"]["heart"] ? $("<span>").html("  ❤️ " + issues[0]["reactions"]["heart"]) : "";
                                var comment_summary =
                                    $("<div>", {"id": "comment_summary"})
                                        .append(comments_count_span, plus_span, minus_span, heart_span);
                                $('#commenthub').empty();
                                $("#commenthub").append(comment_summary, generate_comment_area(issues[0].comments_url), comments_div);
                                resizeIframe();
                            }
                        }
                    });
                } else {
                    $('#commenthub').empty();
                    var comment_summary = $("<h5>", {"id": "comment_summary"}).html("0 comment");
                    $("#commenthub").append(comment_summary, generate_comment_area(), generate_empty());
                    var height = document.body.scrollHeight;
                    window.parent.postMessage(height + "px !important", "*");
                }
            } else {
                $('#commenthub').empty();
                var comment_summary = $("<h5>", {"id": "comment_summary"}).html("0 comment");
                $("#commenthub").append(comment_summary, generate_comment_area(), generate_empty());
                var height = document.body.scrollHeight;
                window.parent.postMessage(height + "px !important", "*");
            }
        }
    });

    function resizeIframe() {
        var height = document.body.scrollHeight;
        window.parent.postMessage(height + "px !important", "*");
    }

    function create_comment(comments_url, body) {
        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: endpoint + "/comments",
            method: "post",
            headers: {
                "accept": "application/json"
            },
            data: JSON.stringify({
                commentsUrl: comments_url,
                body: body
            }),
            success: function (data) {
                $(".comment_btn").button('reset');
                if (data && data.status == 200 && !!data.data) {
                    var user = window.localStorage.getItem("user");
                    var comments_div = $("#comments");
                    comments_div.append(generate_comment(JSON.parse(data.data)).append($("<hr>")));
                    resizeIframe();
                }
            }
        })
    }

    function loadUserInfo() {
        var id = getCookie("commenthub_id");
        var user = window.localStorage.getItem("user");
        if (!!id && !user) {
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: " https://api.github.com/user/" + id,
                headers: {
                    "accept": "application/json"
                },
                success: function (data) {
                    window.localStorage.setItem("user", JSON.stringify(data));
                }
            })
        }
    }

    function generate_comment_area(comments_url) {
        var comment_area = $("<div>", {"id": "comment_area"});
        if (getCookie("commenthub_user")) {
            comment_area.append($("<textarea>",
                {
                    "placeholder": "Leave a comment(Styling with Markdown is supported)",
                    "id": "comment_textarea_body"
                }));
            comment_area.append($("<button>", {"class": "btn comment_btn btn-success"}).click(function () {
                $(this).button('loading');
                var content = $("#comment_textarea_body").val();
                if (content) {
                    create_comment(comments_url, content);
                }

            }).html("Comment"));
            removeCookie("commenthub_redirect");
            loadUserInfo();
        } else {
            comment_area.append($("<textarea>", {
                "placeholder": "Leave a comment(Styling with Markdown is supported)",
                "class": "disabled-area",
                "disabled": "true"
            }));
            comment_area.append($("<button>", {
                "class": "btn login_btn btn-success",
                "data-loading-text": "Signing in..."
            }).click(function () {
                $(this).button('loading');
                document.cookie = "commenthub_redirect=" + [[${commenthub_identifier}]];
                window.top.location.href = "https://github.com/login/oauth/authorize?client_id=" +
                    [[${clientId}]] + "&scope=public_repo&redirect-uri=" + endpoint + "/authorizations/callback";
            }).html("Sign in Github"));
        }
        return comment_area;
    }

    function generate_comment(comment) {
        var comment_item = $("<div>", {"class": "comment_item"});
        var user = comment['user'];
        if (user) {
            var avatar = $("<img>", {"src": comment['user']['avatar_url']});
            var avatar_link = $("<a>", {
                "target": "_blank",
                "href": comment['user']['html_url']
            }).append(avatar);
            comment_item.append(avatar_link);
        }
        var comment_container = $("<div>", {"class": "comment_container"});
        var comment_area = $("<div>", {"class": "comment_body"});
        if (user) {
            var author_link = $("<a>", {
                "target": "_blank",
                "href": comment['user']['html_url'],
                "class": "author"
            }).html(comment['user']['login']);
            var author = $("<span>").append(author_link);
            var header = $("<header>", {"class": "header"});
            var date = $("<span>").append(" " + new Date(comment['created_at']).toLocaleDateString());
            header.append(author, date)
            comment_area.append(header);
        }

        var comment_content = $("<div>", {"class": "comment_content"}).html(comment['body_html']);
        comment_area.append(comment_content);

        var reactions = comment["reactions"];
        if (reactions) {
            var plus_span = reactions["+1"] ? $("<span>").html("  👍 " + reactions["+1"]) : "";
            var minus_span = reactions["-1"] ? $("<span>").html("  👎 " + reactions["-1"]) : "";
            var heart_span = reactions["heart"] ? $("<span>").html("  ❤️ " + reactions["heart"]) : "";
            var reactions = $("<div>", {"class": "reactions"}).append($("<div>", {"class": "list"}).append(plus_span, minus_span, heart_span));
        }
        comment_container.append(comment_item).append(comment_area).append(reactions);
        return comment_container;
    }

    function generate_empty() {
        return $("<div>", {"class": "empty"}).html("No Comment Yet")
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function removeCookie(cname) {
        if (getCookie(cname)) {
            var d = new Date();
            d.setTime(d.getTime() + 5000);
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=;" + expires + ";";
        }
    }
    /*]]>*/
</script>

<section id="commenthub">
    <div class="loading">
        <span class="helper"></span>
        <img src="img/loading.gif">
    </div>
</section>
</body>
</html>
