<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CommentHub Comments</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<!--https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="css/comment.css">

<script th:inline="javascript">
    /*<![CDATA[*/
    var issues = "https://api.github.com/repos/commenthub/commenthub/issues";
    $.ajax({
        dataType: "json",
        url: issues,
        headers: {
            "Accept": "application/vnd.github.squirrel-girl-preview, application/vnd.github.html+json"
        },
        data: {
            labels: [[${commenthub_website}]] + "," + [[${commenthub_identifier}]]
        },
        success: function (issues) {
            if (issues) {
                var comments_url = issues[0]['comments_url'];
                var comments_count = issues[0]['comments'];
                if (comments_count) {
                    $.ajax({
                        dataType: "json",
                        url: comments_url,
                        headers: {
                            "Accept": "application/vnd.github.squirrel-girl-preview, application/vnd.github.html+json"
                        },
                        data: {},
                        success: function (comments) {
                            if (comments) {
                                var comments_div = $("<div>", {"id": "comments"});
                                for (var i = 0; i < comments.length; i++) {
                                    comments_div.append(generate_comment(comments[i])).append($("<hr>"));
                                }
                                var comments_count_span = $("<span>").html(comments_count + " comments  ");
                                var plus_span = issues[0]["reactions"]["+1"] ? $("<span>").html("  👍 " + issues[0]["reactions"]["+1"]) : "";
                                var minus_span = issues[0]["reactions"]["-1"] ? $("<span>").html("  👎 " + issues[0]["reactions"]["-1"]) : "";
                                var heart_span = issues[0]["reactions"]["heart"] ? $("<span>").html("  ❤️ " + issues[0]["reactions"]["heart"]) : "";
                                var comment_summary =
                                    $("<div>", {"id": "comment_summary"})
                                        .append(comments_count_span, plus_span, minus_span, heart_span);
                                var comment_area =
                                    $("<div>", {"id": "comment_area"})
                                        .append($("<textarea>", {"placeholder": "Leave a comment(Styling with Markdown is supported)"}))
                                        .append($("<button>", {"class": "comment_btn"}).html("Comment"));
                                $('#commenthub').empty();
                                $("#commenthub").append(comment_summary, comment_area, comments_div);
                                var height = document.body.scrollHeight;
                                window.parent.postMessage(height + "px !important", "*");
//                                var iframe = window.parent.document.getElementById('commenthub_iframe');
//                                if (iframe) {
//                                    iframe.height = height + "px !important";
//                                }
                            }
                        }
                    });
                } else {
                    $('#commenthub').empty();
                    var comment_summary = $("<h5>", {"id": "comment_summary"}).html("0 comment");
                    var comment_area = $("<textarea>", {"id": "comment_area"});
                    $("#commenthub").append(comment_summary, comment_area, generate_empty());
                }
            } else {
                $('#commenthub').empty();
                var comment_summary = $("<h5>", {"id": "comment_summary"}).html("0 comment");
                var comment_area = $("<textarea>", {"id": "comment_area"});
                $("#commenthub").append(comment_summary, comment_area, generate_empty());
            }
        }
    });

    function generate_comment(comment) {
        var avatar = $("<img>", {"src": comment['user']['avatar_url']});
        var avatar_link = $("<a>", {
            "target": "_blank",
            "href": comment['user']['html_url']
        }).append(avatar);
        var comment_item = $("<div>", {"class": "comment_item"});
        var comment_container = $("<div>", {"class": "comment_container"});

        var comment_area = $("<div>", {"class": "comment_body"});
        var header = $("<header>", {"class": "header"});
        var author_link = $("<a>", {
            "target": "_blank",
            "href": comment['user']['html_url'],
            "class": "author"
        }).html(comment['user']['login']);
        var author = $("<span>").append(author_link);
        var date = $("<span>").append(" " + new Date(comment['created_at']).toLocaleTimeString());
        var comment_content = $("<div>", {"class": "comment_content"}).html(comment['body_html']);
        comment_area.append(header.append(author, date), comment_content);

        var plus_span = comment["reactions"]["+1"] ? $("<span>").html("  👍 " + comment["reactions"]["+1"]) : "";
        var minus_span = comment["reactions"]["-1"] ? $("<span>").html("  👎 " + comment["reactions"]["-1"]) : "";
        var heart_span = comment["reactions"]["heart"] ? $("<span>").html("  ❤️ " + comment["reactions"]["heart"]) : "";
        var reactions = $("<div>", {"class": "reactions"})
            .append($("<div>", {"class": "list"})
                .append(plus_span, minus_span, heart_span));
        comment_container.append(comment_item.append(avatar_link)).append(comment_area).append(reactions);
        return comment_container;
    }

    function generate_empty() {
        return $("<div>", {"class": "empty"}).html("No Comment Yet")
    }
    /*]]>*/
</script>

<section id="commenthub">
    <div class="loading">
        <span class="helper"></span>
        <img src="img/loading.gif">
    </div>
</section>
</body>
</html>
